@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

html, body {
  overflow-x: hidden;
}
@theme {
  --color-bg: #ffffff;
  --color-text: #0f172a;
  --color-primary: #10b981; 
  --color-secondary: #94a3b8;
  /* font-display: "Manrope", sans-serif */
}

/* @layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #000000;
    overflow-x: hidden;
  }
} */

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

.fade-up-delay {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards 0.4s;
}

.fade-left {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeLeft 1s ease forwards 0.5s;
}

.spin-slow {
  animation: spinSlow 20s linear infinite;
}

.spin-reverse {
  animation: spinReverse 25s linear infinite;
}

.float {
  animation: floatY 2s ease-in-out infinite;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spinSlow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes floatY {
  0% { transform: translateY(0); }
  50% { transform: translateY(8px); }
  100% { transform: translateY(0); }
}

.tech-stack-mobile {
  gap: 0.75rem;
  font-size: 0.75rem; /* équiv. text-xs */
}

@media (max-width: 380px) {
  .tech-stack-mobile {
    font-size: 0.625rem; /* un peu plus petit seulement sur très petit écran */
    gap: 0.35rem;
  }
}


@custom-variant dark (&:where(.dark, .dark *));

