@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

html, body {
  overflow-x: hidden;
}
@theme {
  --color-bg: #ffffff;
  --color-text: #0f172a;
  --color-primary: #10b981; 
  --color-secondary: #94a3b8;
  /* font-display: "Manrope", sans-serif */
}

/* @layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #000000;
    overflow-x: hidden;
  }
} */

@custom-variant dark (&:where(.dark, .dark *));

